@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');

body {
    background: #fdfffc;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: #0d1821;
}
p {
    font-family: 'Lato', sans-serif;
    color: #0d1821;
}
img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 4%;
}
a {
    text-decoration: none;
    color: #0d1821;
}
a:hover {
    text-decoration: none;
    color: #266dd3;
}
.justify {
    text-align: justify;
}

.header {
    text-align: center;
    min-height: 10rem;
    line-height: 100%;
}
.header h1 {
    font-weight: 400;
    font-size: 3.2rem;
}
.header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.header li {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: .1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #0d1821;
}
.header li:hover {
    transform: scale(1.2);
}
.center {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}


.main {
    min-height: 35rem;
    width: 100%;
}
.main h2 {
    font-weight: 500;
}
.contact {
    line-height: 85%;
}
.people {
    line-height: 70%;
}
.people img {
    max-width: 200x;
    max-height: 200px;
}

.footer {
    text-align: center;
    bottom: 0;
}
.footer-left {
    line-height: 80%;
}
.footer-right {
    line-height: 40%;
}
.cred {
    color: #DCE0D9;
}


